
.swiper {
    margin: 1px auto;
    width: 90vw;
    height: 80vh;
    max-height: 80vh;
    overflow: scroll;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  

  