
.swiper {
    margin: 1px auto;
    width: 90vw;
    height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    overflow: hidden;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  

  