
.swiper {
    margin: 1px auto;
    width: 90vw;
    border-radius: 14px;
    background-color: transparent;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-color: transparent;
    height: 85% !important;
    margin-bottom: 7%;
    overflow-x: hidden;
  }
  

  