@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none !important;
}
*:focus {
    outline: none !important;
}

.menu-background{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 65%);
}


.buttomchat-div{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    left: 50%;
    border-radius: 16px;
}

.chat-m:first-child {
    margin-top: 5rem;
}
.chat-m:last-child {
    margin-bottom: 4rem;
}

.message-container-dark{
    background-image: url("/assets/chat-background.png"), linear-gradient(to top,#1c92d2, #262626); /* W3C */
}

.message-container-light{
    background-image: url("/assets/chat-background.png"), linear-gradient(to top,#1c92d2, #c9c9c9); /* W3C */
}

.twin-profile{
    width: 100%;
}

.color-sss{
    color: #016fee;
}


.footerswipcard{
    position: absolute;
    left: 50%;
    width: fit-content;
    height: fit-content;
    bottom: -80px;
    transform: translate(-50%);
    border-radius: 50vw !important;
    padding: 0px !important;
}

.footerswipcard--nearbypage{
    position: absolute;
    left: 50%;
    width: fit-content;
    height: fit-content;
    bottom: 120px;
    transform: translate(-50%);
    border-radius: 50vw !important;
    padding: 0px !important;
}

.time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    width: fit-content;
    margin: 0 auto;
    color: #000;
}

.text-handller{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.nearme-div--background{
    background: rgb(58,152,180);
    background: linear-gradient(90deg, rgba(58,152,180,1) 0%, rgba(29,212,253,1) 50%, rgba(147,206,255,1) 100%);
}


