@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none !important;
}
*:focus {
    outline: none !important;
}

.menu-background{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 65%);
}

.app-background {
    background-image: url('/assets/globals.css');
}
.buttomchat-div{
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95%;
    left: 50%;
    border-radius: 16px;
}

.chat-m:first-child {
    margin-top: 4rem;
}
.chat-m:last-child {
    margin-bottom: 4rem;
}

.message-container{
    background-image: url("/assets/chat-background.png");
    background-color: #080808;

}

.twin-profile{
    width: 100%;
}

.color-sss{
    color: #016fee;
}


.footerswipcard{
    bottom: 15vh;
    left: 50%;
    width: 52vw;
    transform: translate(-50%);
    border-radius: 50vw !important;
    padding: 5px !important;
}